[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.121.2",
    "google-auth>=2.43.0",
    "google-cloud>=0.34.0",
    "google-cloud-storage>=3.5.0",
    "pydantic>=2.12.4",
]
